a { color:#2B93D2; text-decoration:none; }
.v_content{position:relative;width:600px;height:250px;overflow: hidden;}
.v_content_list{position:absolute; width:3040px; overflow: hidden; left: 0px;}
.v_content_list li{margin:5px 5px 0 5px;overflow: hidden;list-style-type: none; display:inline; float:left; }
.v_content_list ul{margin:0;padding:0;float:left;}
.v_content_list li img{width:140px;}
.v_show{width:600px; height:250px; border: solid black;}
.v_caption{height:35px; overflow: hidden; background:url(images/btn_cartoon.gif) no-repeat 0 0;}
.v_caption .cartoon{ width:100px; height:35px; float:left; margin:0 5px 0 5px;}
.highlight_tip{display: inline;float:left; margin:10px 0 0 5px;}
.highlight_tip span{display: inline; float:left; background:url(images/btn_cartoon.gif) no-repeat 0 -320px; text-indent:-9999px;margin: 2px;width:7px; height:7px; overflow:hidden;}
.highlight_tip .current{background-position:0 -220px;}
.change_btn{float:left;margin:4px 5px 0 5px;}
.more{float:right; margin:5px 5px 0 5px;}

